@font-face {
  font-family: "MyFont4";
  font-style: normal;
  font-weight: 400;
  src: local("MyFont4"), url(./assets/fonts/MyFont4.otf) format("opentype");
}

@font-face {
  font-family: "MyFont5";
  font-style: normal;
  font-weight: 400;
  src: local("MyFont5"), url(./assets/fonts/MyFont5.ttf) format("truetype");
}

.btn:focus {
  outline: none !important;
  outline-offset: none !important;
  box-shadow: none !important;
}

::-webkit-scrollbar {
  display: none;
}

a:hover {
  color: inherit !important;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  border-radius: 4px;
  margin: "0 auto";
}

.geocoder {
  z-index: 3;
}

.geocoder2 {
  z-index: 2;
}

.mapboxgl-ctrl-geocoder {
  min-width: 100%;
  width: 100% !important;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.truck {
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  border-radius: 50%;
  background: #3887be;
  pointer-events: none;
}

.mapboxgl-ctrl-logo {
  margin-bottom: -10px !important;
  margin-left: -20px !important;
  transform: scale(0.7)
}