@font-face {
  font-family: "MyFont4";
  font-style: normal;
  font-weight: 400;
  src: local("MyFont4"), url(./assets/fonts/MyFont4.otf) format("opentype");
}

@font-face {
  font-family: "MyFont5";
  font-style: normal;
  font-weight: 400;
  src: local("MyFont5"), url(./assets/fonts/MyFont5.ttf) format("truetype");
}

.btn:focus {
  outline: none !important;
  outline-offset: none !important;
  box-shadow: none !important;
}

::-webkit-scrollbar {
  display: none;
}

a:hover {
  color: inherit !important
}